body {
    font-family: Arial, sans-serif;
}

.punaneRiba {
    background-color: rgb(208,23,30);
    height: 17px;
}

.punaneRiba2 {
    position: absolute;
    background-color: rgb(208,23,30);
    margin-left: 759px;
    width: 213px;
    height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 60px 0px 20px;
    margin-bottom: 7px;
    z-index: -1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.punaneRiba3 {
    position: absolute;
    background-color: rgb(208,23,30);
    margin-left: 1237px;
    width: 120px;
    height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 60px 0px 20px;
    margin-bottom: 7px;
    z-index: -1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a {
    text-decoration: none;
    color: black;
}

header {
    overflow: hidden;
    height: 155px;
}

header img {
    float: left;
    padding: 7px 200px;
}

header a {
    float: left;
    text-align: center;
    font-size: 22px;
    margin: 60px 20px;
    padding: 0px 5px 0px 5px;
}

.container {
    margin-bottom: 300px;
}

.container img {
    width: 30%;
    float: left;
    padding-left: 20%;
}

.container section {
    padding-top: 120px;
    float: left;
}

.container h1 {
    font-size: 40px;
}

.mitteBold {
    font-weight: normal;
}

.container p {
    font-size: 25px;
}

.container button {
    border: none;
    margin-top: 80px;
    background-color: rgb(78,144,89);
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.container button a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.4s;
}

.container button:hover {
    background-color: white;
}

.container button:hover a {
    color: black;
}

footer {
    padding: 15px 0 20px;
    color: gray;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(243,243,243);
}

.menüüSelect {
    color: white;
    background-color: rgb(208,23,30);
}

.kalenderContainer {
    margin-top: 100px;
    padding-left: 15%;
    width: 70%;
}

table {
    width: 100%;
    text-align: left;
    font-size: 18px;
    border-collapse: collapse;
}

.trHead {
    background-color: rgb(247,247,247);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

th {
    font-weight: normal;
    padding: 14px 0px 14px 7px;
}

td {
    color: dimgrey;
    padding: 14px 0px 14px 7px;
    border-bottom: 2px solid rgb(220,220,220);
}

.kalenderContainer button {
    border: none;
    background-color: rgb(78,144,89);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

.kalenderContainer button a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    transition-duration: 0.2s;
}

.kalenderContainer button:hover {
    background-color: white;
}

.kalenderContainer button:hover a {
    color: black;
}

.kalenderContainer section {
    float: left;
    color: dimgrey;
    margin-top: 170px;
    margin-bottom: 130px;
}

.mees {
    float: right;
    margin-top: 100px;
    margin-bottom: 130px;
}

.kontaktContainer {
    margin-top: 70px;
    padding-left: 15%;
    width: 70%;
}

form {
    float: left;
    color: dimgrey;
    margin-bottom: 200px;
    font-size: 20px;
    border: none;
}

input {
    font-size: 20px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
}

input[type=text] {
    text-align: right;
    resize: vertical;
}

input[type=button] {
    font-size: 16px;
    float: right;
    width: 80px;
}

input[type=submit] {
    font-size: 16px;
    float: right;
    width: 80px;
    color: white;
    background-color: rgb(78,144,89);
    font-weight: bold;
}

.ring {
    margin-left: 60px;
    margin-top: -50px;
    float: left;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ring img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}