body {
    text-align: center;
    color: dimgray;
    font-family: "Avenir Next", serif;
    border: 1px solid grey;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    margin-bottom: 5px;
}

.subh {
    font-style: italic;
    font-size: 20px;
}

hr {
    width: 250px;
    border-width: 0;
}

h2 {
    width: 50%;
    display: inline;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.meist {
    margin: 40px 100px 20px 100px;
    text-align: left;
    display: inline-block;
}

.retseptid {
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.köökPilt {
    width:80%;
    border-radius: 50%;
}

footer {
    text-align: left;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

@media only screen and (max-width: 950px) {

    hr {
        border-width: 2px;
    }

    .meistPilt {
        display: none;
    }

    .retseptid {
        color: inherit;
    }

    .row {
        flex-direction: column;
    }

    .köökPilt {
        width: 30%;
    }

}